* {
  box-sizing: border-box; }

  @font-face {
    font-family: 'bigsquaredotsregular';
    src: url('bigsquaredots-webfont.eot');
    src: url('bigsquaredots-webfont.eot?#iefix') format('embedded-opentype'),
         url('bigsquaredots-webfont.woff2') format('woff2'),
         url('bigsquaredots-webfont.woff') format('woff'),
         url('bigsquaredots-webfont.ttf') format('truetype'),
         url('bigsquaredots-webfont.svg#bigsquaredotsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-size: 16px;
} 

h1, h2 {
  font-family: 'bigsquaredotsregular';
  font-size: 200%;
}



.title {
  font-family: 'bigsquaredotsregular';
  
}
